# SPDX-FileCopyrightText: © 2026 Sushant Mondal <contact@sushantmondal.com>
#
# SPDX-License-Identifier: MIT

# Python
__pycache__/
.pytest_cache/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
.env/
